.container {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menubutton {
  display: none;
}

@media (max-width: 786px) {
  .links {
    display: none;
  }

  .menubutton {
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
  }

  .mobile {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: height 0.5s ease-in-out;
    padding: 20px;
  }
}
